.layout {
  display: flex;
  gap: 2rem;
  & li {
    display: flex;
  }
  & a {
    font-size: 1.2rem;
    word-wrap: normal;
    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
  }
}
