.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .contentCenter {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.main {
  margin: 0 2rem;
  & .header {
    display: flex;
    flex-direction: column;
    & .topContainer {
      margin-top: 1.5rem;
      & h2 {
        font-size: 1.8rem;
      }
      & p {
        margin: 0.5rem 0;
        font-size: 1.4rem;
      }
    }
    & .middleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      margin: 1rem 0;
      & .hostInfo {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        & span {
          flex: 0.5;
          word-wrap: normal;
          font-size: 1.2rem;
        }
        & img {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
        }
      }
    }
  }
  & .bottomContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
