.main {
  margin: 0 2rem;
  & .header {
    display: flex;
    flex-direction: column;
    & .topContainer {
      margin-top: 1.5rem;
      & h2 {
        font-size: 1.8rem;
      }
      & p {
        font-size: 1.4rem;
      }
    }
    & .middleContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      & .hostInfo {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        & span {
          flex: 0.5;
          word-wrap: normal;
          font-size: 1.2rem;
        }
        & img {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
        }
      }
    }
  }
  & .bottomContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
