@use '../../style/abstract/colors';
@use '../../style/abstract/variables';

.tag {
  display: flex;
  gap: 1rem;
  & li {
    font-size: 1rem;
    color: colors.$light-color;

    margin: 1rem 0;
    padding: 0.1rem 3rem;

    border-radius: variables.$border-radius;
    background-color: colors.$primary-color;
  }
}
